body {
	background-color: white;
	/* Typography Declarations */
	color: #222222;
	font-size: 1em;
	font-family: "Helvetica Neue";
	border-radius: 10px;
  	border: 3px solid black;
}

.masthead-heading,
.masthead-intro,
.content-footer {
	text-align: center;
}


.masthead {
	padding: 6em 0;
	background-image: url('wood-landscape-mountains-nature.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-top: solid 1em #FFCF33;

}

.masthead-intro {
	/* Layout Declarations */
	margin-bottom: 0.1em #FFCF33;
	/* Typography Declarations */
	font-family: "Gentium Book Basic";
	font-size: 2em;
}

.masthead-heading {
	/* Layout Declarations */
	margin-top: -0.2em;
	/* Typography Declarations */
	font-family: "Helvetica Neue";
	font-weight: bold;
	font-size: 6em;
	letter-spacing: -0.02em;
	text-transform: uppercase;

}

.introduction-section {
	background-color: #FFCF33;
	box-shadow: 8px 8px 3px #888888;
	text-shadow: 2px 2px 5px white;
	border-radius: 10px;
  	border: 3px solid black;
}


.content-footer,
.introduction-section,
.location-section,
.questions-section {
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

.social > li {
	display: inline-block;
}

.introduction > p,
.location > p,
.content-footer > p {
	/* Typography Declarations */
	font-weight: 300;
	letter-spacing: 0.05em;
}

.questions-section > h2 {
	/* Typography Declarations */
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 1.2em;
	font-weight: bold;
}


.content-footer {
	/* Red, Green Blue: #RRGGBB */
	background-color: #78AADE

}

